@use 'shared/variables' as *;
@use 'shared/mixins' as *;

.maplibregl-popup-content {
  font-family: 'MaruBuri', sans-serif !important;
  background-color: $theme-700 !important;
  padding: 2rem !important;
  width: fit-content;
}
.maplibregl-popup-tip {
  border-top-color: $theme-700 !important;
}

.maplibregl-popup-close-button {
  color: $theme-50 !important;
  font-size: 16px !important;
}

.restaurant {
  @include map-marker('restaurant');
}

.hotel {
  @include map-marker('hotel');
}

.attraction {
  @include map-marker('attraction');
}

.marker {
  display: inline-flex;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  @include map-marker('attraction');
}

// .marker {
//   padding: 0.5rem;
// }
