@use 'shared/variables' as *;
@use 'shared/mixins' as *;

.maplibregl-popup-content {
  font-family: 'MaruBuri', sans-serif !important;
  background-color: $theme-700 !important;
  padding: 2rem !important;
}
.maplibregl-popup-tip {
  border-top-color: $theme-700 !important;
}

.maplibregl-popup-close-button {
  color: $theme-50 !important;
  font-size: 16px !important;
}

.marker {
  padding: 0.5rem;
}
