@use '../../../variables' as *;

.nav {
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: 80px;
  justify-content: space-between;
  overflow: visible;
  padding: 0 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 40;
}

.menu-toggle {
  border-bottom-width: 1px;
  border-color: $theme-400;
  border-left-width: 1px;
  border-right-width: 1px;
  border-style: solid;
  border-top-width: 1px;
  backdrop-filter: blur(10px);
  border-radius: 50%;
  transform: none;
  transform-origin: 50% 50% 100px;
  will-change: auto;
  background: none;
  width: 40px !important;
  display: inline-flex;
  height: 40px !important;
  align-items: center;
  justify-content: center;
}

.svg {
  transform: translate(1.5px, 3px);
}
