@use '../../variables' as *;
@use '../../mixins' as *;

.section {
  @include background('8');
  height: 100vh !important;
  width: 100vw !important;
  position: fixed;
  z-index: 100;
  transform: none;
  transform-origin: 50% 50% 0px;
}
