@use '../../../variables' as *;
@use '../../../mixins' as *;
@use '../../../functions/' as *;

@mixin noise-container {
  position: absolute;
  border-radius: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  @include background-static;
  border: 0;
  opacity: 0.2;
  // z-index: 0;
  z-index: z(base);
}

@mixin noise-contents-contrast {
  // z-index: 2;
  z-index: z-index(mask);
}

.noise-contents-contrast {
  @include noise-contents-contrast;
}
.with-border {
  @include with-border;
  padding: 1.2rem;
}

.inner-wrap {
  opacity: 1;

  position: relative;
  overflow: hidden;

  &.with-description {
    align-items: flex-start;
  }
  &:not(.with-description) {
    background-color: $theme-500;
  }
  // z-index: 1;
  z-index: z(masked);
}

.outer-wrap {
  @include with-border;
  @include flexbox(column);
  border-radius: 10px;
  padding: 1.2rem;
  position: relative;
  overflow: hidden;
  min-width: 318px;

  @media (max-width: 450) {
    min-width: 100%;
  }
  & {
    height: 100%;
  }
}

.noise {
  @include noise-container;
}

.chip {
  cursor: pointer;
}

.embedded-card {
  min-width: 21rem;
  width: 60%;
  max-width: 60%;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  @media (max-width: 450) {
    min-width: 17rem;
  }
}

.article-card {
  padding: 0;
  justify-content: flex-start;
  min-width: 12rem;
  flex-wrap: wrap;
}

.full-size {
  width: 100%;
}

.thumbnail {
  width: 100%;
  height: 16rem;
  position: relative;
}

// poi-card

.embedded-card-wrap {
  overflow-x: scroll;
  height: 100%;
  align-items: stretch;
}

.poi-card {
  min-height: 21rem;

  min-width: 16rem;

  & > div:first-child {
    height: 12rem;
    max-height: 8rem; /* Restrict image height */
    min-height: 8rem; /* Restrict image height */
  }

  & > div {
    margin: 0;
  }
}
