@use 'shared/variables' as *;
@use 'shared/mixins' as *;

.carousel {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}
.flex-items {
  @include flex-items;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%; /* Ensures images fit container width */
}

.carousel-item {
  min-width: 100%; /* Each item takes full width of carousel */
  transition: opacity 0.5s ease-in-out;
}

.img-wrap {
  padding: 0 !important;
  height: 24rem !important;
  overflow: hidden;
  & > img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
}

.img-source {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: inline-block;
  width: fit-content;
  max-width: 21rem; /* Set your desired width */
  & > div {
    display: inline;
  }
  & > div > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.source-url {
  text-wrap: nowrap !important;
  font-size: 0.8rem;
}
