@use '../../variables' as *;
@use '../../mixins' as *;

@mixin container {
  position: absolute;
  border-radius: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: repeat;
  background-position: left top;
  background-size: 128px auto;
  background-image: url(https://framerusercontent.com/images/6mcf62RlDfRfU61Yg5vb2pefpi4.png);
  border: 0;
  opacity: 0.2;
  z-index: 0;
  filter: brightness(30%);
}

.with-border {
  @include with-border;
  padding: 1.2rem;
}

.inner-wrap {
  @include flexbox(column);
  opacity: 1;
  height: min-content;
  position: relative;
  overflow: hidden;

  &.with-description {
    align-items: flex-start;
  }
  &:not(.with-description) {
    background-color: $theme-500;
  }
  z-index: 1;
}

.outer-wrap {
  @include with-border;
  @include flexbox(column);
  border-radius: 10px;
  padding: 1.2rem;
  height: min-content;
  position: relative;
  overflow: hidden;
  min-width: 318px;
}

.noise {
  @include container;
}
