@use 'variables' as *;
@use 'mixins' as *;

.footer {
  padding-bottom: 2rem;
}

.wrap {
  display: inline-flex;
  flex-direction: column;
  gap: 1rem;
}

.accented {
  @include accented;
}

.list-item {
  font-size: inherit;
}
.button {
  border: none;
  color: inherit;
  padding: 0;
  background-color: inherit;
}
