@use '../../../variables' as *;
@use '../../../mixins' as *;

.selected {
  background-color: $theme-100 !important;
}

.hovered {
  position: relative;
  z-index: 30;
  color: $theme-50;
}
.gap {
  display: inline-block;
  padding: 0.2rem;
}

.button {
  height: 3rem;
  overflow-y: hidden;
  color: inherit;
  align-content: center;
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1.2rem;
  justify-content: center;
  position: relative;
  text-decoration: none;
  width: fit-content;
  min-width: 4rem;
  cursor: pointer;
  background: none;
  border: none;
}

.with-border {
  min-width: 9rem;
  @include with-border;
}
.button:disabled {
  cursor: not-allowed;
  color: $theme-300;
}

// 다음으로 넘어가기 버튼에 커서를 올리는 애니메이션 버튼 스타일

.next-button-wrap {
  width: 100%;
}

.submit-button {
  width: 100%;
}

.all-info-cursor {
  position: 'fixed';
  right: 2rem;
  float: right;
}
