.img-wrap {
  padding: 0;
  overflow: hidden;

  @media (max-width: 400px) {
    height: 18rem;
  }
  @media (min-width: 1000px) {
    height: 36rem;
  }
  & > img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
}

.img-container {
  margin-bottom: 0;
}
