@import 'mixins.scss';
@import 'variables.scss';

$bottom-shade: #08070700;

.header {
  align-items: center;
  background: radial-gradient(50% 50% at 0% 0%, $theme-600 0%, $theme-500 100%); //dark
  display: inline-flex;

  flex-wrap: nowrap;
  gap: 20px;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  width: inherit;
  position: relative;
}
.heading {
  display: inline-flex;
  gap: 7px;
}
.accented {
  @include accented;
}

.gradient-bottom {
  background: radial-gradient(75% 50% at 100% 100%, $theme-600 0%, $bottom-shade 100%); //dark
  inset: 0;
  overflow: hidden;
  position: absolute;
  z-index: 0;
}
.center {
  align-content: center;
  align-items: center;
  display: inline-flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 25px;
  height: min-content;
  justify-content: center;
  max-width: 1440px;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 5;
}

.button-wrap {
  align-content: center;
  align-items: center;
  display: inline-flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: min-content;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: min-content;
}
.header-arrow-button {
  width: 1rem;
}
.flex {
  @include flex;
}
