@use 'variables' as *;
@use 'mixins' as *;

.calendar-wrap {
  height: 100%;
  overflow-y: scroll;
}

.submit-button {
  width: 100%;
}

.submit-button.long-text {
  @media (max-width: 400) {
    & > span {
      transform: translateY(1rem) !important;
    }
  }
}
.flex {
  @include flex;
}

.flex-text {
  @include flex-text;
  @media (max-width: 300px) {
    align-items: center;
  }
}
