@use 'shared/variables' as *;
@use 'shared/mixins' as *;

.carousel {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}
.flex-items {
  @include flex-items;
}

.visible-scroll {
  overflow-x: scroll !important;
}

.carousel-inner {
  display: inline-flex;
  transition: transform 0.5s ease-in-out;
  width: 100%; /* Ensures images fit container width */
}

.carousel-item {
  min-width: 100%; /* Each item takes full width of carousel */
  transition: opacity 0.5s ease-in-out;
}

.img-wrap {
  padding: 0 !important;
  // height: 24rem !important;
  height: 100% !important;
  @media (max-width: 400px) {
    height: 18rem !important;
  }
  @media (min-width: 1000px) {
    height: 36rem !important;
  }

  overflow: hidden;
  & > img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
}

// .img-source {
//   position: absolute;
//   right: 10px;
//   bottom: 10px;
//   display: inline-block;
// }

// .source-url {
//   text-wrap: nowrap !important;
//   font-size: 0.8rem;
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
// }

.next,
.prev {
  position: absolute;
  z-index: 500;
  top: 50%;
}
.prev {
  left: 1rem;
}

.next {
  right: 1rem;
}

//

.progress {
  width: 100%;
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.progress::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 5px;
}

.progress::-webkit-progress-value {
  background-color: #4caf50;
  border-radius: 5px;
}

.progress::-moz-progress-bar {
  background-color: #4caf50;
  border-radius: 5px;
}

// carousel

/* styles.css */
.insta-like-carousel-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory; /* Enables snapping on the x-axis */
  -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS */
  scroll-behavior: smooth; /* Optional: makes the snapping animated */
}

.insta-like-carousel-item {
  flex: 0 0 100%; /* Each image takes up 100% of the container's width */
  scroll-snap-align: center; /* Aligns each image in the center of the viewport */
  position: relative;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  background-size: cover;
  background-position: center;
  height: 400px; /* Adjust the height as needed */
}

/* Optional: styles for the focused item */
.insta-like-carousel-item.focused {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
