@use '../../base/' as *;
@use '../../functions/' as *;
@use '../../generator/' as *;
@use '../../mixins/' as *;
@use '../TripieButton/Animated/animated-button.module' as *;
@use '../../mixins.scss' as *;

@use 'sass:map';

.text {
  @include word-wrap;
  font-size: font-size(text);
  &[aria-selected='false'] {
    color: color(default, 500);
  }
  &[aria-selected='true'] {
    color: color(default, 900);
  }
  color: inherit;
}

.flick {
  z-index: 30;
  width: fit-content;
  height: 3rem !important;
}

.min {
  min-width: 9rem;
}

.dim {
  color: color(default, 500);
}

.primary {
  color: color(primary, 900);
}

.secondary {
  color: color(primary, 600);
}

.gray {
  color: color(default, 800) !important;
}
.danger {
  color: color(danger, 600);
}
.warning {
  color: color(warning, 300);
}
.emphasize {
  color: color(primary, 700);
}
.box {
  & > span {
    position: relative;
    display: inline-block;
  }
}

.accented {
  @include accented;
  font-size: inherit;
}
