@use '../../mixins' as *;
@use '../../variables' as *;

$switch-background1: #181c17;
$switch-background2: #0f0f0f;

.switch {
  width: 5rem;
  overflow: hidden;
  height: 2.5rem;
  border: none;
  position: relative;
  cursor: pointer;
}
.background {
  @include with-border;
  background: radial-gradient(150% 150% at 50% 50%, $switch-background1 0%, $switch-background2 100%);
  height: 100%;
  width: 100%;
  opacity: 1;
  border-radius: 100px;
}

.button {
  background-color: $theme-50;
  border-radius: 100%;
  flex: none;
  overflow: hidden;
  position: absolute;
  bottom: 0.5rem;
  right: 3.2rem;
  width: 1.6rem;
  height: 1.6rem;
  z-index: 3;
}

.switch-text {
  border-radius: 100px;
  flex: none;
  position: absolute;
  top: 25%;
  left: 14%;
  z-index: 3;
}
