@use 'sass:map';

$settings: () !default;
$settings: map.deep-merge(
  (
    // The prefix to use for all CSS variables.
    'prefix': null,
    // The paths to use for the images, icons and fonts.
    'paths': (
        'fonts': '/static/fonts',
      )
  ),
  $settings
);

// We use this value to prefix our CSS variables. The only difference to the default prefix value that we add the '-' suffix.
$internal-prefix: if(map.get($settings, prefix), map.get($settings, prefix) + '-', '');

// This is the list of all generated keyframes to avoid duplicates.
$included-animations: (move-background);
