@use 'mixins' as *;
@use 'variables' as *;

.content-wrap {
  height: 13rem;
}

.info-wrap {
  height: 45rem;
  & div {
    @include visible-scroll(false);
  }
}

.description-wrap {
  height: 3rem;
}
