@use 'mixins' as *;

.card-wrap {
  max-height: 75vh;
  @include scroll;
  @include visible-scroll(false);
}

.wrap {
  width: 100%;
}

.plane-wrap {
  width: 100%;
}
.cloud-wrap {
  position: absolute;
}

.top30 {
  top: 30%;
}
.top60 {
  top: 60%;
}

.top15 {
  top: 15%;
}
