@use 'variables' as *;
@use 'mixins' as *;

.submit-button {
  @include submit-button;
}

.flex {
  @include flex;
}
.cloud-wrap {
  display: inline-block;
  position: relative;
  overflow: hidden;

  @media (min-width: 400px) {
    height: 20vh;
  }
}
