@use '../../../base/' as *;
@use '../../../functions/' as *;
@use '../../../generator/' as *;
@use '../../../mixins/break-text' as *;
@use '../../../mixins/text' as *;
@use '../../../variables/' as *;
@use 'sass:map';

.headings {
  @include text-ellipsis(1);
  @include word-wrap;
  font-size: font-size(text);
  width: fit-content;
}

$font-size-map: (
  h0: font-size(h0),
  h1: font-size(h1),
  h2: font-size(h2),
  h3: font-size(h3),
  h4: font-size(h4),
  small: font-size(small),
  tiny: font-size(tiny),
  default: font-size(default),
);

@each $key, $value in $font-size-map {
  .#{$key} {
    font-size: $value;
  }
}

@each $value in $break-point-values {
  .preserve-white-space-#{$value} {
    @include break-text($value);
  }
}

.has-headline {
  margin-top: 0;
}

.typography {
  margin-bottom: 0.35em; // mui typography
}
