@use '../../../base/' as *;
@use '../../../functions/' as *;
@use '../../../generator/' as *;
@use '../../../mixins/index.scss' as *;
@use '../../../mixins/' as *;
@use '../../../variables/' as *;
@use 'sass:map';

.headings {
  @include text-ellipsis(1);
  @include word-wrap;
  font-size: font-size(text);
  width: fit-content;
}

.default {
  font-size: font-size(default);
}

.h0 {
  font-size: font-size(h0);
}

.h1 {
  font-size: font-size(h1);
}

.h2 {
  font-size: font-size(h2);
}
.h3 {
  font-size: font-size(h3);
}
.h4 {
  font-size: font-size(h4);
}

.small {
  font-size: font-size(small);
}
.tiny {
  font-size: font-size(tiny);
}

@each $value in $break-point-values {
  .preserve-white-space-#{$value} {
    @include break-text($value);
  }
}

.has-headline {
  margin-top: 0;
}

.typography {
  margin-bottom: 0.35em; // mui typography
}
