.menu-item {
  list-style: none;
  margin: 1rem;
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  display: inline-flex;
  gap: 0.2rem;
  & > a {
    text-decoration: none;
    color: inherit;
  }
}
