// @use 'variables' as *;
@use 'mixins' as *;

.over-flow-wrap {
  @include scroll;
  @include visible-scroll(false);
  height: 32rem;
}

.chip {
  min-width: fit-content;
  padding: 0.5rem;
}

.trip-tab-wrap {
  height: 100vh;
  height: 100%;
  height: stretch;
  height: -webkit-fill-available;
  margin: 1rem 0 !important;
}

.trip-tab-content-wrap {
  width: min(24rem, 60vw);
}
