@use 'variables' as *;
@use 'mixins' as *;

.text-left {
  align-items: flex-start !important;
}

.card-wrap {
  width: 100%;
  display: inline-block;
  padding-right: 1rem;
  background-color: inherit !important;
  @media (min-width: 501px) {
    width: 40vw;
  }
}

.trip-list-wrap {
  height: 80vh;
  @include scroll;
  @include visible-scroll(false);

  @media (max-width: 500px) {
    height: 40vh !important;
    width: 100% !important;
  }
}

// 날짜 선택 칩 옆으로 스크롤
.trip-days-chips-wrap {
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  @include visible-scroll(false);
}

.trip-days-chips-wrap > ul {
  display: inline-flex !important;
  flex-direction: row;
  flex-wrap: nowrap !important;
  gap: 0.4rem;
}

.chip {
  min-width: 4rem !important;
  padding: 0.5rem !important;
}
