@use '../../../mixins/z-index' as *;
@use '../../../mixins/background' as *;
@use '../../../mixins/z-index' as *;
@use '../../../mixins/backdrop' as *;

.variant-default {
  @include background('8');
}
.variant-backdrop {
  @include backdrop;
}

.splash-full-screen {
  position: fixed;
  @include z-index(above-all);
  transform: none;
  min-height: 100vh;
  min-width: 100vw;
  height: 100%;
  height: -webkit-fill-available;
  transform-origin: 50% 50% 0px;
  overflow: hidden;
}

.center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
