@use '../../../mixins' as *;
@use '../../../variables' as *;

.chip-wrap {
  @include flexbox(row);
  padding: 1rem 0;
  width: 100%;
  height: min-content;
  position: relative;
  overflow: hidden;
}

.with-border {
  @include with-border;
}

.inner-wrap {
  @include with-border;

  @include flexbox(column);
  gap: 15px;

  z-index: 1;
  height: 220px;
  overflow: hidden;
  // padding: 20px;
  padding: 1rem;
  position: relative;
  width: 100%;
  background-color: $theme-200;
}
