.loading-wrap {
  height: 20rem;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.text-wrap {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}
