@use "../../functions/" as *;
@use "../../mixins/" as *;
@use "sass:map";

$card-gallery-height: 200px;
$profile-position: 225px;

.card-gallery-container,
.card-content-container {
  grid-column: span 1;
  grid-row: span 1;
}

.card-link {
  display: inline-block;
  width: fit-content;
  height: fit-content;
}

.card {
  display: inline-grid !important;
  border-radius: shape("sm") !important;
  grid-column: span 1;
  grid-row: span 2;
  width: breakpoint("xs");
  min-width: breakpoint("xs") !important;
  text-decoration: none;
  color: color(default, 800);

  // 호버 효과 light
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  &:hover {
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
  }
}

.card-gallery {
  height: $card-gallery-height !important;
  :nth-child(1) {
    border-top-left-radius: shape("sm") !important;
  }

  img {
    overflow: hidden;
  }
}

.card-5 {
  :nth-child(3) {
    border-top-right-radius: shape("sm") !important;
  }
}
.card-4,
.card-3,
.card-2 {
  :nth-child(2) {
    border-top-right-radius: shape("sm") !important;
  }
}
.card-1 {
  // overflow: hidden;
  :nth-child(1) {
    border-top-right-radius: shape("sm") !important;
  }
}

.card-profile-image {
  position: absolute;
  z-index: z("default");
  transform: translate(8px, 176px);
  border-radius: shape("circle");

  background-color: color(default, 50);
  padding: space("sm");
  width: fit-content;
}
