@use '../../../variables/tripie-theme' as *;

.marker {
  font-family: 'MaruBuri', sans-serif;
}
:global(.maplibregl-popup-content) {
  background-color: $theme-700;
  width: fit-content;
}
:global(.maplibregl-popup-tip) {
  border-top-color: $theme-700;
}

:global(.maplibregl-popup-close-button) {
  color: $theme-50;
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}
