@import 'mixins';
@import 'variables';

.about-us {
  @include background('2');
  align-items: center;
  gap: 0.2rem;
  font-size: 2rem;
}

.wrap {
  @media (max-width: 380) {
    font-size: 1.8rem;
  }
}
