@use '../../../variables' as *;
@use '../../../mixins' as *;
@use '../../../functions/' as *;

$card-size-map: (
  full: 100%,
  large: 36rem,
  medium: 18rem,
  small: 6rem,
  tiny: 4rem,
  card: 24rem,
);

@mixin card-size($size) {
  width: $size;
}

@each $key, $size in $card-size-map {
  .card-size-#{$key} {
    @include card-size($size);
  }
}

@mixin noise-container {
  position: absolute;
  border-radius: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  @include background-static;
  border: 0;
  opacity: 0.2;
  z-index: z(base);
}

.inner-wrap {
  position: relative;
  border-radius: 10px;
}

.outer-wrap {
  position: relative;
  border-radius: 10px;
  height: 100%;
}

.noise {
  @include noise-container;
}

.img-wrap {
  overflow: hidden;
}

.content-wrap {
  width: 100%;
}

.card {
  overflow: hidden;
}
