@use 'variables' as *;

.transport {
  transform: translateX(10%);
}

.chip {
  transform: translate(50%, 50%);
}

.last-chip {
  transform: translate(50%, 50%);
}

.timeline-divider {
  height: 4px;
  background-color: $theme-50;
  transform: translateY(2.5rem);
}
