@use '../../mixins' as *;

.our-process {
  @include background('1');
}
.accented {
  @include accented;
}

.wrap {
  @include grid(5);
  align-content: center;
  height: min-content;
  overflow: hidden;
  position: relative;
  width: 100%;
}
