@use '../../variables.scss' as *;

.loading {
  height: 100vh;
  width: 100vw;
}
.section {
  background: radial-gradient(50% 50% at 0% 0%, $theme-600 0%, $theme-500 100%);
  position: fixed;
  z-index: 50;
  transform: none;

  transform-origin: 50% 50% 0px;
}
.title {
  display: inline-flex;
  font-size: 55px;
  font-weight: 400;
  width: 100%;
  white-space: nowrap;
  height: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.text {
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  top: 0px;
  left: 0px;
  width: 100%;
  will-change: auto;
}
