@use 'shared/variables' as *;

.particle {
  background-color: $theme-50;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 3px;
  width: 3px;
  z-index: 0;
}

.particle-field {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 0;
}
