@use 'shared/variables' as *;
@use 'shared/mixins' as *;
.accented {
  @include accented;
}

.card-wrap {
  height: 100% !important;
}
.flex {
  @include flex;
}

.accordian-body {
  height: fit-content !important;
}
.chip-wrap {
  display: inline-flex;
  justify-content: center;
}

.chip {
  @include chip;
}

.animated-text {
  padding: 0 !important;
}

.grid-wrap {
  overflow: scroll;
  max-height: 35vh;
  @include scroll;
}
