@use 'variables' as *;
@use 'mixins' as *;
.accented {
  @include accented;
}

.card-wrap {
  height: 100% !important;
}
.flex {
  @include flex;
  // @media (max-width: 430px) {
  //   flex-wrap: wrap;
  // }
}

.accordian-body {
  height: fit-content !important;
  @include scroll;
  // height: auto !important;
}
.chip-wrap {
  display: inline-flex;
  justify-content: center;
}

.chip {
  @include chip;
}

.animated-text {
  padding: 0 !important;
}

.grid-wrap {
  // overflow: scroll;
  max-height: 35vh;
  height: fit-content;
  @include scroll;
}
