@use 'variables' as *;
@use 'mixins' as *;

.card-wrap {
  height: 100% !important;
}
.flex {
  @include flex;
}

.accordian-body {
  @include scroll;
  @include visible-scroll(false);
}
.chip-wrap {
  display: inline-flex;
  justify-content: center;
}

.chip {
  @include chip;
}

.animated-text {
  padding: 0 !important;
}

.grid-wrap {
  max-height: 35vh;
  height: fit-content;
  @include scroll;
  @include visible-scroll(true);
}
