@use "../../../base/" as *;
@use "../../../functions/" as *;
@use "../../../generator/" as *;
@use "../../../mixins/" as *;

@use "sass:map";

.text {
  @include text-ellipsis(3);
  @include word-wrap;
  font-size: font-size(text);
  &[aria-selected="false"] {
    color: color(default, 500);
  }
  &[aria-selected="true"] {
    color: color(default, 900);
  }
}

.dim {
  color: color(default, 500);
}

.primary {
  color: color(primary, 900);
}

.secondary {
  color: color(primary, 600);
}

.gray {
  color: color(default, 800) !important;
}
.danger {
  color: color(danger, 600);
}
.warning {
  color: color(warning, 300);
}
.emphasize {
  color: color(primary, 700);
}
