@use 'shared/variables' as *;
@use 'shared/mixins' as *;

.embedded-card-wrap {
  overflow-x: scroll;
  height: 100%;
  align-items: stretch !important;
}

.poi-card {
  min-height: 21rem;
  height: auto !important;
  max-height: 21rem;
  min-width: 16rem;

  & > div:first-child {
    height: 12rem !important;
    max-height: 8rem; /* Restrict image height */
    min-height: 8rem; /* Restrict image height */
    overflow: hidden;
    display: block !important;
  }

  & > div {
    margin: 0 !important;
  }
}

.img-wrap {
  padding: 0 !important;
  height: 24rem !important;
  overflow: hidden;

  & > img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
}

.img-source {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: inline-block;
  width: fit-content;
  max-width: 21rem; /* Set your desired width */
  & > div {
    display: inline;
  }
  & > div > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.source-url {
  text-wrap: nowrap !important;
  font-size: 0.8rem;
}

.poi-img-source-ref {
  max-width: 8rem;
  font-size: 0.6rem;
}

.carousel {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.flex-items {
  @include flex-items;
}
