.layout {
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
}
.center {
  display: inline-flex;
  justify-content: center;
}
.right {
  display: inline-flex;
  justify-content: flex-end;
}
