.text-heading,
.page-heading {
  position: absolute;
}
.page-heading-wrap {
  position: relative;
}
.sub-region-title {
  top: -2rem;
  min-width: max-content;
}

// 화면 크기가 작아지면 지역 > 상세 지역 글자 겹침 방지
.region-id {
  @media (max-width: 388px) {
    transform: translateY(1rem);
  }
}
