@import 'mixins';
@import 'variables';

.our-process {
  @include background('1');
  padding: 50px 0;
}

.wrap {
  display: inline-flex;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: nowrap !important;
}
