@use 'variables' as *;
@use 'mixins' as *;

.place-chip {
  padding: 0.8rem;
  min-width: 8rem;
}

.selected-wrap {
  min-height: 12vh;
}

.accordian-body {
  @include scroll;
  @include visible-scroll(false);
}

.chip {
  @include chip;
}

.animated-text {
  padding: 0;
}

.grid-wrap {
  max-height: 35vh;
  height: fit-content;
  @include scroll;
  @include visible-scroll(false);
}

.options {
  max-height: 16vh;
  overflow-y: scroll;
  @include visible-scroll(false);
}
