@use 'sass:math';
@use 'sass:map';
@use '../variables' as *;
@use '../mixins/shape' as *;

@mixin with-border($has-border: 'true', $border-color: $border-accent, $border-radius: md) {
  @if ($has-border== 'false') {
    border: none;
  } @else {
    border: 1px solid $border-color;
    @include shape($border-radius);
    opacity: 1;
  }
}
