.footer {
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
  height: 468px;
  justify-content: center;
  overflow: hidden;
  padding: 40px;
  position: relative;
  width: 100%;
}
