@use 'mixins' as *;

.map-wrap {
  display: inline-flex;
  gap: 1rem;

  @media (max-width: 800px) {
    flex-wrap: wrap;
    & > div {
      width: 100%;
    }
  }
}

.tab-wrap {
  overflow: hidden;
  height: 85vh;
}
