@use '../../variables' as *;

.accordion-header {
  display: inline-flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
}
.divider {
  height: 1.5px;
}
.accordion-body {
  color: $theme-40;
}
.accordion {
  width: 100%;
  height: 100%;
}
