@use './functions/color' as *;
@use './generator/generator' as *;
@use './mixins/visible-scroll' as *;

@include generate-styles;

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  @include visible-scroll(true);
}

html[data-theme='dark']:root {
  color: color(default, 800);
  background-color: color(themes, 500);
}

a {
  text-decoration: none;
  color: inherit;
}

li,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
