@use 'sass:math';
@use 'sass:map';
@use 'variables' as *;

$background-gradients: (
  '0': $background-gradient-0,
  '1': $background-gradient-1,
  '2': $background-gradient-2,
  '3': $background-gradient-3,
  '4': $background-gradient-4,
  '5': $background-gradient-5,
  '6': $background-gradient-6,
  '7': $background-gradient-7,
  '8': $background-gradient-8,
);

@mixin background($variant) {
  align-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: min-content;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  padding: 100px 0 50px;

  background: map.get($background-gradients, $variant); // ✅ FIXED

  @if $variant == '2' {
    padding: 100px 0;
  }
}

@mixin accented {
  color: $theme-50;
}

@mixin with-border {
  padding: 10px 25px;
  font-size: 0.8rem;
  border: 1px solid $border-accent;
  border-radius: 8px;
  opacity: 1;
}

@mixin card {
  border: 1px solid $theme-400;
  align-content: flex-start;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 10px;
  display: inline-flex;
  flex: 1 0 0px;
  flex-direction: column;
  gap: 50px;
  height: auto;
  justify-content: center;
  overflow: hidden;
  padding: 40px;
  position: relative;
  width: 1px;

  @media (max-width: 809px) {
    align-self: unset;
    flex: none;
    height: min-content;
    padding: 35px;
  }
}

@mixin flexbox($direction: row, $align: center, $justify: center, $gap: 15px) {
  display: inline-flex;
  width: 100%;
  flex-basis: auto;

  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
  flex-wrap: nowrap;
}

@mixin grid($item-count: 5) {
  display: grid;
  grid-gap: 10px;

  @if ($item-count == 5) {
    @media (min-width: 998px) {
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(2, 1fr);

      & > div {
        grid-column: span 2;
        grid-row: span 1;
      }
      & > div:nth-child(4),
      & > div:nth-child(5) {
        grid-column: span 3;
        grid-row: span 1;
      }
    }
  } @else {
    @media (min-width: 998px) {
      grid-auto-flow: column;
    }
  }

  @media (max-width: 998px) {
    grid-auto-flow: row;
  }
}

@mixin flex {
  display: inline-flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

@mixin list-wrap {
  display: inline-flex;
  gap: 1rem;

  @media (min-width: 998px) {
    flex-direction: row;
  }

  @media (max-width: 998px) {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@mixin background-static {
  background-repeat: repeat;
  background-position: left top;
  background-size: 128px auto;
  background-image: url('/noise.png');
  filter: brightness(50%);
}

@mixin chip {
  min-width: fit-content;
  padding: 1rem !important;
}

@mixin button-chip {
  min-width: fit-content;
  padding: 1rem !important;
}

@mixin grid-wrap {
  display: grid;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
  padding: 0;
  margin: 0;

  @media (max-width: 880px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 730px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 480px) {
    grid-template-columns: repeat(1, 1fr);
  }

  @media (min-width: 1300px) {
    grid-template-columns: repeat(6, 1fr);
  }
}

@mixin submit-button {
  width: 100% !important;
}

@mixin submit-button-long-text {
  @media (max-width: 400px) {
    & > span {
      transform: translateY(1.5rem) !important;
    }
  }
}

.flex {
  @include flex;
}

@mixin flex-items {
  display: inline-flex;
  justify-content: flex-start;
  overflow-x: scroll;
  flex-wrap: nowrap;
  gap: 1rem;
  width: 100%;
  list-style: none;
  padding: 0;
}

@mixin map-marker($variant) {
  display: inline-flex;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0.5rem;

  $colors: (
    'restaurant': red,
    'hotel': rgb(59, 74, 211),
    'attraction': orange,
    'selected': inherit,
  );

  // background-color: map-get($colors, $variant, orange); // DART부터는 map.get 사용
  background-color: map.get($colors, $variant) or orange;
}

@mixin scroll {
  // 스크롤 바 스타일
  overflow-y: scroll !important;
  position: relative !important;
}
// 스크롤 바 스타일
@mixin visible-scroll($visible-scroll: true) {
  @if $visible-scroll == true {
    /* Firefox */
    scrollbar-color: $theme-50 $theme-100000;
    scrollbar-width: thin;
    /* WebKit (Chrome, Safari, Edge) */
    ::-webkit-scrollbar {
      width: 2px;
      height: 2px;
    }
    ::-webkit-scrollbar-track {
      background: transparent;
    }
    ::-webkit-scrollbar-thumb {
      background: $theme-50;
      border-radius: 2px;
    }
    ::-webkit-scrollbar-thumb:hover {
      background: $theme-50;
    }
  } @else {
    scrollbar-width: none; /* Firefox */
    /* Hide scrollbar for Edge and IE */
    -ms-overflow-style: none;
    ::-webkit-scrollbar {
      /* Chrome, Safari */
      display: none;
    }
  }
}

@mixin flex-text {
  display: inline-flex;
  align-items: center;
  gap: 0.2rem;
  @media (max-width: 300px) {
    align-items: baseline;
  }
}
