@use './functions/' as *;

$theme-40: var(--themes-color-40);
$theme-50: var(--themes-color-50);
$theme-100: var(--themes-color-100);
$theme-200: var(--themes-color-200);
$theme-300: var(--themes-color-300);
$theme-400: var(--themes-color-400);
$theme-500: var(--themes-color-500);
$theme-600: var(--themes-color-600);
$theme-700: var(--themes-color-700);
$theme-800: var(--themes-color-800);
$theme-100000: var(--themes-color-100000);

$border-accent: #d5ffcc40;
$bottom-shade: #08070700;
$shadow-tint: rgb(8, 7, 7);

$background-gradient-0: radial-gradient(50% 50% at 0% 0%, $theme-600 0%, $theme-500 100%);
$background-gradient-1: radial-gradient(
  50% 39.900000000000006% at 50% 55.800000000000004%,
  var(--themes-color-700) 0%,
  var(--themes-color-500) 100%
);
$background-gradient-2: radial-gradient(75% 100% at 100% 0%, $theme-600 0%, $theme-500 100%);
$background-gradient-3: radial-gradient(50% 50% at 50% 50%, $theme-700 0%, $theme-500 100%);
$background-gradient-4: radial-gradient(75% 50% at 0% 100%, $theme-600 0%, $theme-500 100%);
$background-gradient-5: radial-gradient(75% 50% at 0% 0%, $theme-600 0%, $theme-500 100%);
$background-gradient-6: radial-gradient(50% 50% at 50% 50%, $theme-700 0%, $shadow-tint 100%);
$background-gradient-7: radial-gradient(75% 50% at 100% 100%, $theme-600 0%, $bottom-shade 100%);
$background-gradient-8: radial-gradient(50% 50% at 0% 0%, $theme-600 0%, $theme-500 100%);

$background-gradients: (
  '0': $background-gradient-0,
  '1': $background-gradient-1,
  '2': $background-gradient-2,
  '3': $background-gradient-3,
  '4': $background-gradient-4,
  '5': $background-gradient-5,
  '6': $background-gradient-6,
  '7': $background-gradient-7,
  '8': $background-gradient-8,
);

$justify-content-values: (
  start,
  end,
  left,
  right,
  center,
  normal,
  flex-start,
  flex-end,
  space-between,
  space-around,
  space-evenly,
  stretch,
  none
);

$align-items-values: (baseline, normal, center, start, stretch, end, flex-start, flex-end, none);

$space-map: (
  xl: space(4rem),
  l: space(2rem),
  m: space(1rem),
  sm: space(0.6rem),
  xsm: space(0.2rem),
);

$padding-space-map: (
  padding-xl: space(4rem),
  padding-l: space(2rem),
  padding-m: space(1rem),
  padding-sm: space(0.6rem),
  padding-xsm: space(0.2rem),
  padding-none: 0,
);

$gap-space-map: (
  sm: space(0.2rem),
  default: space(0.5rem),
  l: space(1rem),
  none: 0,
);
