@use '../../variables' as *;
@use '../../mixins' as *;

.with-border {
  @include with-border;
  padding: 0.2rem 0.6rem;
  border-radius: 10px;
  color: inherit;
}
.chip {
  border-color: $theme-400;
  background-color: $theme-200;
  font-size: 0.8rem;
  cursor: pointer;
}

.accented {
  position: relative;
  z-index: 2;
  margin: 0.4px;
  padding: 0.2rem 0.6rem;
  font-size: 0.8rem;
  border-radius: 10px;
}

.glow {
  width: 100%;
  height: 4rem;
  background-color: $theme-50;
  border: 1px $theme-50;
  filter: blur(18px);
  mask: linear-gradient(transparent 0%, $theme-50 120%);
  position: absolute;
  top: 0;
  left: 50%;
  transform-origin: left;
  transform: translate(-50%, -50%);
}
.wrap {
  cursor: pointer;
  overflow: hidden;
  width: fit-content;
  height: fit-content;
  position: relative;
  color: $theme-50;
  border-radius: 10px;
  padding: 0;
}

.selected {
  background-color: $theme-100;
}

.restaurant {
  @include map-marker('restaurant');
}

.hotel {
  @include map-marker('hotel');
}

.attraction {
  @include map-marker('attraction');
}

.marker {
  display: inline-flex;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0.2rem !important;
  width: 1.5rem;
  height: 1.5rem;
}
