$direction-map: (
  all: 'all',
  top-bottom: 'top-bottom',
  left-right: 'left-right',
  left: 'left',
  right: 'right',
  top: 'top',
  bottom: 'bottom',
  top-left-right: 'top-left-right',
  left-right-bottom: 'left-right-bottom',
);
