@use 'shared/variables' as *;
@use 'shared/mixins' as *;

.background {
  @include background('0');
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 2rem 1rem;
  min-height: 100%;
  width: inherit;
  gap: 1rem;
  position: relative;
}

.title-wrap {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.cloud-wrap {
  display: inline-block;
  position: relative;
  overflow: hidden;

  @media (min-width: 400px) {
    height: 20vh;
  }
}

.text-color {
  color: $theme-50;
  width: fit-content;
  display: block;
}
