@use 'mixins' as *;
@use 'variables' as *;

.chip-wrap {
  display: inline-flex;
  justify-content: center;
}

.animated-text {
  @media (min-width: 901px) {
    width: fit-content;
    & > span {
      width: fit-content;
    }
  }
}
.scroll {
  position: relative;
  @include scroll;

  @include visible-scroll(false);
}
