@use 'variables' as *;
@use 'mixins' as *;

.chip {
  @include chip;
}

.chip-wrap {
  @include grid-wrap;
}

.flex {
  gap: 1rem;
}
.scroll {
  height: 40vh;

  overflow-y: scroll;
  position: relative;

  @include visible-scroll(false);
}
