@use '../../../functions/color' as *;
@use '../../../functions/typography' as *;

.link {
  text-decoration: none;
  color: color(default, 700);

  &[aria-selected='false'] {
    color: color(default, 500);
    font-weight: font-weight(base);
  }
  &[aria-selected='true'] {
    color: color(default, 900);
    font-weight: font-weight(bold);
  }

  &[aria-disabled='true'] {
    cursor: not-allowed;
    color: color(default, 400);
  }
}
