@use 'shared/variables' as *;
@use 'shared/mixins' as *;

@mixin container {
  position: absolute;
  border-radius: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  @include background-static;
  border: 0;
  opacity: 0.2;
  z-index: 0;
}

.with-border {
  @include with-border;
  padding: 1.2rem;
}

.inner-wrap {
  @include flexbox(column);
  opacity: 1;
  height: max-content;

  position: relative;
  overflow: hidden;

  &.with-description {
    align-items: flex-start;
  }
  &:not(.with-description) {
    height: 12rem;
    background-color: $theme-500;
  }
  z-index: 1;
}

.outer-wrap {
  @include with-border;
  @include flexbox(column);
  border-radius: 10px;
  padding: 1.2rem;
  // height: min-content;
  position: relative;
  overflow: hidden;
  min-width: 318px;
  height: 100%;
}

.noise {
  @include container;
}
.chip {
  cursor: pointer;
}
