@use 'variables' as *;
@use 'mixins' as *;

.accented {
  @include accented;
}

.flag-image {
  width: 2rem;
  & img {
    position: relative !important;
    width: 2rem !important;
    object-fit: contain !important;
  }
}
