@use 'variables' as *;
@use 'mixins' as *;

.text {
  min-width: 9rem;
  height: 3rem;
}
.hovered {
  position: relative;

  color: $theme-50;
}
.no-style-button {
  background-color: none;
  color: none;
}

.button {
  height: 3rem;
  overflow-y: hidden;
  color: inherit;
  align-content: center;
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: gap(default);
  justify-content: center;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  width: fit-content;
  background: none;
  border: none;
}
.with-border {
  width: 9rem;
  min-width: 9rem;
  @include with-border;
}
.button:disabled {
  cursor: not-allowed;
  color: $theme-300;
}

// 다음으로 넘어가기 버튼에 커서를 올리는 애니메이션 버튼 스타일

.next-button-wrap {
  width: 100%;
}

.submit-button {
  width: 100%;
}

.all-info-cursor {
  position: 'fixed';
  right: 2rem;
  float: right;
}
.flex-text {
  @include flex-text;
}
