@use '../../../variables/tripie-theme' as *;
@use '../../../variables/card-size-map' as *;
@use '../../../functions/z-index' as *;
@use '../../../mixins/background-static' as *;
@use '../../../mixins/noise-container' as *;

@mixin card-size($size) {
  width: $size;
}

@each $key, $size in $card-size-map {
  .card-size-#{$key} {
    @include card-size($size);
  }
}

.inner-wrap {
  position: relative;
  border-radius: 10px;
  z-index: z(masked);
}

.with-description {
  background-color: $theme-500;
}

.outer-wrap {
  position: relative;
  border-radius: 10px;
  height: 100%;
}

.noise {
  @include noise-container;
}

.img-wrap {
  overflow: hidden;
}

.content-wrap {
  width: 100%;
}

.card {
  overflow: hidden;
}
