@use 'shared/variables' as *;
@use 'shared/mixins' as *;

// .card-img-wrap {
//   padding: 0 !important;
//   & > img {
//     width: 100%;
//   }
// }

// .embedded-card-img {
//   & > img {
//     width: 100%;
//     height: 100%;
//     display: block;
//     object-fit: cover;
//   }
// }

// .embedded-card-img {
//   height: 12rem !important;
// }

.carousel {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.flex-items {
  @include flex-items;
}

.embedded-card-wrap {
  overflow-x: scroll;
  height: 100%;
  align-items: stretch !important;
}
