@use '../../../../variables/tripie-theme' as *;
@use '../../../../mixins/z-index' as *;
@use '../../../../mixins/shape' as *;

.menu-toggle {
  display: inline-flex;
  border: 1px solid $theme-400;
  border-style: solid;
  backdrop-filter: blur(10px);
  @include shape(circle, true);
  transform: none;
  transform-origin: 50% 50% 100px;
  will-change: auto;
  background: none;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  @include z-index(default);
}

.svg {
  transform: translate(1.5px, 3px);
}
