@use '../../../../variables/tripie-theme' as *;
@use '../../../../mixins/z-index' as *;

.menu-toggle {
  display: inline-flex;
  border-bottom-width: 1px;
  border-color: $theme-400;
  border-left-width: 1px;
  border-right-width: 1px;
  border-style: solid;
  border-top-width: 1px;
  backdrop-filter: blur(10px);
  border-radius: 50%;
  transform: none;
  transform-origin: 50% 50% 100px;
  will-change: auto;
  background: none;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  @include z-index(default);
}

.svg {
  transform: translate(1.5px, 3px);
}
