@use 'variables' as *;
@use 'mixins' as *;

.title-wrap {
  display: inline-flex;
  gap: 0.2rem;
  width: 100%;

  align-items: center;

  @media (max-width: 450px) {
    white-space: pre-wrap;
  }
}
