@use '../../../mixins/z-index' as *;
@use '../../../mixins/backdrop' as *;

@use 'sass:map';

.drawer-content {
  @include z-index(default);
  height: -moz-available;
  height: stretch; // spec has changed
  height: -webkit-fill-available;
}

$drawer-position-map: (left, top, right, bottom);

.drawer {
  position: relative;
  width: 100%;
  overflow: hidden;
  max-width: 100vw;
  max-height: 100vh;
  backdrop-filter: blur(10px);
}

.full {
  max-width: 100vw;
  max-height: 100vh;
  height: stretch; // spec has changed
  height: -moz-available;
  height: -webkit-fill-available;
  width: 100%;
  overflow: hidden;
}

.max {
  height: stretch; // spec has changed
  height: -moz-available;
  height: -webkit-fill-available;
}

$percentage-map: ();

@for $i from 1 through 100 {
  $percentage-map: map.merge(
    $percentage-map,
    (
      $i: $i + px,
    )
  );
}

.drawer-backdrop {
  @include backdrop;
}

@each $key, $percent in $percentage-map {
  .backdrop-filter-#{$key} {
    backdrop-filter: blur($percent);
  }
}
