@use 'shared/variables' as *;
@use 'shared/mixins' as *;

.accented {
  @include accented;
}

.flex {
  @include flex;
}
.cloud-wrap {
  display: inline-block;
  position: relative;
  overflow: hidden;

  @media (min-width: 400px) {
    height: 20vh;
  }
}
