@use '../../../variables' as *;
@use '../../../mixins/justify-content' as *;
@use '../../../mixins/margins' as *;
@use '../../../mixins/paddings' as *;
@use '../../../mixins/align-items' as *;
@use '../../../mixins/gap' as *;
@use '../../../mixins/grid-wrap' as *;

.list {
  display: inline-flex;
  width: 100%;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}

@each $align-value in $align-items-values {
  .align-items-#{$align-value} {
    @include align-items($align-value);
  }
}
@each $value in $justify-content-values {
  .justify-content-#{$value} {
    @include justify-content($value);
  }
}

@each $key, $value in $gap-space-map {
  .gap-#{$key} {
    @include gap($key, $value);
  }
}

.wrap {
  @include grid-wrap;
}

@each $direction-key, $direction in $direction-map {
  @each $key, $value in $space-map {
    .margins_#{$key}_to_#{$direction-key} {
      @include margins($direction, $value);
    }
    .paddings_#{$key}_to_#{$direction-key} {
      @include paddings($direction, $value);
    }
  }
}
