@use '../../../variables' as *;
@use '../../../functions/' as *;
.nav {
  // align-items: center;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  // height: 80px;
  height: fit-content;
  // width: 100%;
  width: fit-content;
  justify-content: space-between;
  overflow: visible;
  // padding: 0 15px;
  z-index: z(mask);
  // position: fixed;
  // top: 0;
  // left: 0;
  // right: 0;
  // z-index: 40;
}
