@use '../../../variables' as *;

.nav {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: fit-content;
  width: fit-content;
  justify-content: space-between;
  overflow: visible;
}
