@use '../../../../variables' as *;
@use '../../../../mixins' as *;
@use '../../../../functions/' as *;
.selected {
  background-color: $theme-100 !important;
}

.hovered {
  position: relative;
  z-index: z(mask);
  color: $theme-50;
}
.gap {
  display: inline-block;
  padding-top: 0.5rem;
}

.button {
  height: 3rem;
  overflow-y: hidden;
  color: inherit;
  align-content: center;
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1.2rem;
  justify-content: center;
  position: relative;
  text-decoration: none;
  width: fit-content;
  min-width: 4rem;
  cursor: pointer;
  background: none;
  border: none;
}

.with-border {
  min-width: 9rem;
  @include with-border;
}
.button:disabled {
  cursor: not-allowed;
  color: $theme-300;
}

// 다음으로 넘어가기 버튼에 커서를 올리는 애니메이션 버튼 스타일

.next-button-wrap {
  width: 100%;
}

.submit-button {
  width: 100%;
}

.all-info-cursor {
  position: 'fixed';
  right: 2rem;
  float: right;
}

.is-full-size {
  @include submit-button;
}

@each $key, $value in $padding-space-map {
  .padding-all.#{$key} {
    @include padding('all', $value);
  }
  .padding-top-bottom.#{$key} {
    @include padding('top-bottom', $value);
  }
  .padding-left-right.#{$key} {
    @include padding('left-right', $value);
  }
  .padding-left.#{$key} {
    @include padding('left', $value);
  }
  .padding-right.#{$key} {
    @include padding('right', $value);
  }
  .top.#{$key} {
    @include padding('top', $value);
  }
  .padding-bottom.#{$key} {
    @include padding('bottom', $value);
  }
  .padding-top-left-right.#{$key} {
    @include padding('top-left-right', $value);
  }
  .padding-left-right-bottom.#{$key} {
    @include padding('left-right-bottom', $value);
  }
}

@each $key, $value in $space-map {
  .all.#{$key} {
    @include margins('all', $value);
  }
  .top-bottom.#{$key} {
    @include margins('top-bottom', $value);
  }
  .left-right.#{$key} {
    @include margins('left-right', $value);
  }
  .left.#{$key} {
    @include margins('left', $value);
  }
  .right.#{$key} {
    @include margins('right', $value);
  }
  .top.#{$key} {
    @include margins('top', $value);
  }
  .bottom.#{$key} {
    @include margins('bottom', $value);
  }
  .top-left-right.#{$key} {
    @include margins('top-left-right', $value);
  }
  .left-right-bottom.#{$key} {
    @include margins('left-right-bottom', $value);
  }
}
