@use '../../../variables/tripie-theme' as *;
@use '../../../functions/color' as *;
@use '../../../functions/typography' as *;
@use '../../../mixins/text' as *;

@use 'sass:map';

.text {
  color: inherit;
  @include word-wrap;
  font-size: font-size(text);
  &[aria-selected='false'] {
    color: color(default, 500);
  }
  &[aria-selected='true'] {
    color: color(default, 900);
  }
}

.flick {
  font-size: inherit;
  color: inherit;
}

.min {
  min-width: 9rem;
}

.box {
  & > span {
    position: relative;
    display: inline-block;
  }
  width: fit-content;
}

.animated-text {
  overflow-y: hidden;
  color: inherit;
  display: inline-flex;
  max-height: 2.25rem;
  flex-direction: column;
  &:hover {
    cursor: pointer;
  }
}
.small {
  font-size: 0.8rem;
}

.bold {
  font-weight: font-weight(bold);
}

.cross {
  text-decoration: line-through;
  color: $theme-40;
}

.empty {
  font-size: inherit;
}
.typing-text-wrap {
  display: inline-block;
  white-space: nowrap;
}
