@use '../../variables' as *;
@use '../../mixins' as *;

@mixin container {
  position: absolute;
  border-radius: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  @include background-static;
  border: 0;
  opacity: 0.2;
  z-index: 0;
}

.with-border {
  @include with-border;
  padding: 1.2rem;
}

.inner-wrap {
  opacity: 1;
  // height: max-content;

  position: relative;
  overflow: hidden;

  &.with-description {
    align-items: flex-start;
  }
  &:not(.with-description) {
    // height: 12rem;
    background-color: $theme-500;
  }
  z-index: 1;
}

.outer-wrap {
  @include with-border;
  @include flexbox(column);
  border-radius: 10px;
  padding: 1.2rem;
  position: relative;
  overflow: hidden;
  min-width: 318px;
  height: 100%;
}

.noise {
  @include container;
}
.chip {
  cursor: pointer;
}

.embedded-card {
  // height: 27rem !important;

  // min-width: 30rem;
  min-width: 21rem;
  width: 60%;
  max-width: 60%;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
}

//

.article-card {
  height: 100% !important;
  padding: 0 !important;
  justify-content: flex-start !important;
  min-width: 12rem;
  flex-wrap: wrap;
}

.thumbnail {
  width: 100%;
  height: 16rem;
}
.bold {
  font-weight: 700;
}

// poi-card

.embedded-card-wrap {
  overflow-x: scroll;
  height: 100%;
  align-items: stretch !important;
}

.poi-card {
  min-height: 21rem;
  height: auto !important;
  max-height: 21rem;
  min-width: 16rem;

  & > div:first-child {
    height: 12rem !important;
    max-height: 8rem; /* Restrict image height */
    min-height: 8rem; /* Restrict image height */
    overflow: hidden;
    display: block !important;
  }

  & > div {
    margin: 0 !important;
  }
}

.img-wrap {
  position: relative;
}
