@use 'shared/variables' as *;
@use 'shared/mixins' as *;

.flex {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  & div {
    height: 50%;
  }
}

.flex-items {
  display: inline-flex;
  justify-content: center;
  overflow: hidden;
  flex-wrap: nowrap;
  gap: 1rem;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgb(0, 0, 0) 17.5%,
    rgb(0, 0, 0) 82.5%,
    rgba(0, 0, 0, 0) 100%
  );
}
.logo {
  width: 2rem;
  height: 2rem;
  min-width: 2rem;
  min-height: 2rem;
}
.logo-wrap {
  padding: 1rem;
}
