@use 'shared/variables' as *;
@use 'shared/mixins' as *;

.timeline-divider {
  height: 4px !important;
  background-color: $theme-50 !important;
  position: absolute;
  top: 4rem;
}

.carousel {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

// !!

.flex-items {
  @include flex-items;
}

.embedded-card-wrap {
  overflow-x: scroll;
  height: 100%;
  align-items: stretch !important;
}

.itinerary-cards {
  overflow-y: visible !important;
}

.flag {
  position: sticky;
  top: 5%;
}

.last-flag {
  display: inline-flex;
  justify-content: flex-end;
}

.total-wrap {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
}

.icon-wrap {
  display: inline-flex;
  gap: 0.2rem;
  justify-content: flex-end;
}

.other-icons {
  transform: translate(8%, 30%);
}
.first-icon {
  transform: translate(8%, 100%);
}

.timeline-item-wrap {
  display: inline-flex;
  flex-direction: column;
  position: static;
  top: 0;
}

.timeline {
  display: inline-flex;
  justify-content: center;
  z-index: 100;
  width: 100%;
}

.last-poi {
  visibility: hidden;
}

.itinerary-card {
  width: 100% !important;
  max-width: 100% !important;
}
