@use 'variables' as *;
@use 'mixins' as *;

.timeline-divider {
  height: 4px;
  background-color: $theme-50;
  transform: translateY(3rem);
}

.total-wrap {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  & .timeline-item-wrap {
    position: relative;
    top: 1rem;
  }
}

.icon-wrap {
  display: inline-flex;
  gap: 0.2rem;
  justify-content: flex-end;
}

.other-icons {
  transform: translate(8%, 100%);
}
.first-icon {
  transform: translate(8%, 200%);
}

.flag {
  position: sticky;
  top: 4%;
}

.last-flag {
  display: inline-flex;
  justify-content: flex-end;
}

.timeline {
  display: inline-flex;
  justify-content: center;
  z-index: 100;
  width: 100%;
}

.itinerary-card {
  width: 100%;
}
.default {
  width: 100%;
  max-width: 24rem;
}

.marker {
  padding: 0.5rem;
}

.first-card-wrap {
  position: relative;
  top: -1rem;
}
