@use '../../../variables' as *;
@use '../../../mixins/flex' as *;
@use '../../../mixins/justify-content' as *;
@use '../../../mixins/align-items' as *;

.accordion-header {
  flex-direction: column;
}
.divider {
  height: 1.5px;
}
.accordion-body {
  color: $theme-40;
  &.preserve-white-space {
    @media (max-width: 470px) {
      white-space: pre-wrap;
    }
  }
}
.accordion {
  width: 100%;
  height: 100%;
}

.flex {
  @include flex;
}

@each $value in $justify-content-values {
  .justify-content-#{$value} {
    @include justify-content($value);
  }
}

@each $align-value in $align-items-values {
  .align-items-#{$align-value} {
    @include align-items($align-value);
  }
}
