@use 'variables' as *;
@use 'mixins' as *;

.wrap {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 25px;
  height: min-content;
  max-width: 1440px;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 5;
  @media (min-width: 300px) {
    width: 80%;
  }
}
.preserve-white-space {
  @media (max-width: 470px) {
    white-space: pre-wrap;
  }
}

.flex {
  @include flex;
}

.button-wrap {
  gap: 10px;
}

.main-button {
  @media (max-width: 500px) {
    width: 3vw;
    overflow: hidden;
    justify-content: center;
  }
}
