@use 'variables' as *;
@use 'mixins' as *;

.heading {
  gap: 0.4rem;
  @media (max-width: 430px) {
    transform: translateX(7vw);
  }
}
.accented {
  @include accented;
}

.button-wrap {
  gap: 10px;
}

.flex {
  @include flex;
}
.wrap {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 25px;
  height: min-content;
  max-width: 1440px;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 5;
  @media (min-width: 300px) {
    width: 80%;
  }
}

.main-button {
  @media (min-width: 300px) {
    width: 3vw;
    overflow: hidden;
  }
}
