@use 'variables' as *;
@use 'mixins' as *;

.list-wrap {
  height: 50rem;
  @include scroll;
  @include visible-scroll(false);
}

.link-wrap {
  display: inline-flex;
  align-items: center;
  overflow: hidden;
}
