@use 'variables' as *;
@use 'mixins' as *;

.background {
  @include background('0');
  display: inline-flex;
  height: 100vh;
  flex-wrap: nowrap;
  padding: 2rem 1rem;
  min-height: 100%;
  width: inherit;
  gap: 1rem;
  position: relative;
  &.centered {
    justify-content: center;
  }
}
.main-wrap {
  height: 85%;
}
.break-text {
  display: inline-block;
  @media (max-width: 500px) {
    display: inline-block;
  }
}

.list-wrap {
  & > div {
    height: 70vh;
    @media (max-width: 500px) {
      height: 60vh;
    }
  }
}

.submit-button {
  @include submit-button;
}

.flex {
  @include flex;
}
.text-wrap {
  width: 100%;
}

.link-wrap {
  display: inline-flex;
  align-items: center;
}
