@use 'variables' as *;
@use 'mixins' as *;

.background {
  @include background('0');
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 2rem 1rem;
  min-height: 100%;
  width: inherit;
  gap: 1rem;
  position: relative;
  &.centered {
    justify-content: center;
  }
}

.submit-button {
  @include submit-button;
}

.flex {
  @include flex;
}
.text-wrap {
  width: 100%;
}
