@use '../../mixins' as *;
@use '../../variables' as *;

.img-wrap {
  padding: 0 !important;
  overflow: hidden;
  display: inline-block;
  box-sizing: border-box;
  & > img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
}
.with-border {
  @include with-border;
}

.img-source {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.source-url {
  text-wrap: nowrap !important;
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 100;
  max-width: 30%;
  display: inline-block;
}

.small {
  height: 4rem;
}

.medium {
  height: 24rem;
}
.card {
  // height: 8rem;
  height: 12rem;
}

.icon {
  height: 1rem;
  width: 1rem;
}

.tripie-image {
  padding: 0 !important;
  overflow: hidden;
  position: relative !important;
  & img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
}

.default {
  width: 24rem;
  height: 24rem;
}

.large {
  height: 24rem;
}
