@use "../../functions/" as *;
@use "sass:map";

.layout-fill-available {
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
}
.align-center {
  display: inline-flex;
  justify-content: center;
  align-content: stretch;
  flex-wrap: nowrap;
}
.align-right {
  display: inline-flex;
  justify-content: flex-end;
  align-content: stretch;
  flex-wrap: nowrap;
}

$space-map: (
  xl: space(4rem),
  l: space(2rem),
  m: space(1rem),
  sm: space(0.6rem),
  xsm: space(0.2rem),
  none: space(0),
);

@mixin margins($direction, $size) {
  @if ($direction == "top-bottom") {
    margin: $size 0;
  } @else if ($direction == "left-right") {
    margin: 0 $size;
  } @else if ($direction == "left") {
    margin: 0;
    margin-left: $size;
  } @else if ($direction == "right") {
    margin: 0;
    margin-right: $size;
  } @else if ($direction == "top") {
    margin: 0;
    margin-top: $size;
  } @else if ($direction == "bottom") {
    margin: 0;
    margin-bottom: $size;
  } @else if ($direction == "all") {
    margin: $size;
  }
}

@each $key, $value in $space-map {
  .container.all.#{$key} {
    @include margins("all", $value);
  }
  .container.top-bottom.#{$key} {
    @include margins("top-bottom", $value);
  }
  .container.left-right.#{$key} {
    @include margins("left-right", $value);
  }
  .container.left.#{$key} {
    @include margins("left", $value);
  }
  .container.right.#{$key} {
    @include margins("right", $value);
  }
  .container.top.#{$key} {
    @include margins("top", $value);
  }
  .container.bottom.#{$key} {
    @include margins("bottom", $value);
  }
}
