@use 'shared/variables' as *;
@use 'shared/mixins' as *;

.wrap {
  @include grid-wrap;
}

.chip {
  @include chip;
}

.section-title {
  display: inline-flex;
  align-items: center;
}

.section-topic {
  &.left-space {
    margin-left: 0.4rem;
  }
  & > span {
    min-width: 2rem !important;
    width: max-content !important;
  }
}

.submit-button {
  width: 100%;
}

.card-content-wrap {
  @include scroll;
}

.all-info-cursor {
  position: 'fixed';
  right: 2rem;
  float: right;
}

.next-button-wrap {
  width: 100%;
}
.slide-card {
  height: 100%;
}

.map-wrap {
  width: 60rem;
  overflow: hidden;
}
