@use '../../variables' as *;
@use '../../mixins' as *;

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  gap: 1rem;
  flex-direction: column;
  width: 100%;

  &.row-view {
    flex-direction: row;
  }
}

.wrap {
  @include grid-wrap;
}

@mixin gap($size: 'default') {
  gap: if($size == 'l', 1rem, 0.5rem);
}

.list-item {
  display: inline-flex;
  width: 100%;

  @each $value in $justify-content-values {
    .justify-content-#{$value} {
      @include justify-content($value);
    }
  }

  @each $value in $align-items-values {
    .align-items-#{$value} {
      @include align-items($value);
    }
  }

  &.gap-l {
    @include gap('l');
  }
  &.gap-default {
    @include gap('default');
  }
}
