@use '../../shared/variables' as *;
@use '../../shared/mixins' as *;

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  gap: 1rem;
  flex-direction: column;
  &.row-view {
    flex-direction: row;
  }
  width: 100%;
}

.wrap {
  @include grid-wrap;
}
