@use 'variables' as *;
@use 'mixins' as *;

.chip {
  min-width: fit-content;
  padding: 1rem;
}
.accented {
  @include accented;
}

.submit-button {
  width: 100% !important;
}
.flex {
  @include flex;
}
