@use '../../../../variables' as *;
@use '../../../../functions/z-index' as *;

.particle {
  background-color: $theme-50;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 3px;
  width: 3px;
  z-index: z(base);
}

.particle-field {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: z(base);
}
