@use 'shared/mixins' as *;

.chip-wrap {
  display: inline-flex;
  justify-content: center;
}

.animated-text {
  @media (min-width: 901px) {
    width: fit-content !important;
    & > span {
      width: fit-content;
    }
  }
  @media (max-width: 901px) {
    gap: 1.5rem;
  }
}
