@use 'mixins' as *;

.total-wrap {
  height: 100vh;
}

.decor-wrap {
  height: 10%;
}

.list {
  @include scroll;
  @include visible-scroll(false);
}
.list-wrap {
  height: 70%;
}

.list-wrap-with-decor {
  height: 50%;
}
