@use 'variables' as *;
@use 'mixins' as *;

.decor-wrap {
  height: 20%;
}

.list {
  @include scroll;
  @include visible-scroll(false);
}
.list-wrap {
  height: 70%;
}

.list-wrap-with-decor {
  height: 50%;
}

.total-wrap {
  height: 100vh;
}

.btn-wrap {
  height: 15%;
}
.title-wrap {
  height: 20%;
}
